/** ADMIN PANEL STYLES** */
/* line 3, ../../../app/stylesheets/admin.sass */
h1, h2, h3, h4, h5, p, ul {
  margin: 10px 0;
}

/* line 5, ../../../app/stylesheets/admin.sass */
h1, h2, h3, h4, h5 {
  margin: 10px auto;
}

/* line 7, ../../../app/stylesheets/admin.sass */
h1 {
  font-size: 25px;
}

/* line 10, ../../../app/stylesheets/admin.sass */
h2 {
  font-size: 19px;
}

/* line 12, ../../../app/stylesheets/admin.sass */
h3 {
  font-size: 17px;
}

/* line 14, ../../../app/stylesheets/admin.sass */
h4 {
  font-size: 15px;
}

/* line 17, ../../../app/stylesheets/admin.sass */
p, ul {
  margin: 0 auto 20px;
}

/* line 20, ../../../app/stylesheets/admin.sass */
a {
  color: #3b5998;
}

/* line 23, ../../../app/stylesheets/admin.sass */
li {
  margin-bottom: 10px;
  margin-left: 30px;
  list-style: disc;
}

/* line 28, ../../../app/stylesheets/admin.sass */
body {
  background: #f0f0f0;
  width: 982px;
}

/* line 32, ../../../app/stylesheets/admin.sass */
#admin-content {
  padding: 0 10px 10px;
  background: white;
  border: 1px solid #cccccc;
  border-top-width: 0px;
}

/* line 38, ../../../app/stylesheets/admin.sass */
#admin-actions {
  padding: 6px 0;
  display: inline-block;
  background: #f0f0f0;
  width: 100%;
  margin-bottom: 20px;
}

/* line 46, ../../../app/stylesheets/admin.sass */
.main-content {
  width: 100%;
}

/* line 49, ../../../app/stylesheets/admin.sass */
.admin-btn {
  color: white;
  display: inline-block;
  padding: 4px 14px;
  border: 1px solid #104839;
  background: #169f7a url('/images/admin/btn-off.gif?1320791095') left center repeat-x;
  font-weight: bold;
  text-decoration: none;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  margin: 0 10px;
}
/* line 60, ../../../app/stylesheets/admin.sass */
.admin-btn:hover {
  color: white;
  text-decoration: none;
  border: 1px solid #104839;
  font-weight: bold;
  background: #22876c url('/images/admin/btn-on.gif?1320791095') left center repeat-x;
}
/* line 66, ../../../app/stylesheets/admin.sass */
.admin-btn.save {
  background: #22876c url('/images/admin/btn-on.gif?1320791095') left center repeat-x;
}
/* line 68, ../../../app/stylesheets/admin.sass */
.admin-btn.save:hover {
  background: #22876c url('/images/admin/btn-on.gif?1320791095') left center repeat-x;
}

/* FRONT PAGE LAYOUT BUILDER STYLES */
/* line 76, ../../../app/stylesheets/admin.sass */
.main-content #widget-tabs {
  float: left;
  width: 450px;
}
/* line 79, ../../../app/stylesheets/admin.sass */
.main-content #widget-tabs-destination {
  float: left;
  width: 450px;
  min-height: 250px;
  margin-left: 50px;
}
/* line 84, ../../../app/stylesheets/admin.sass */
.main-content ul {
  margin: 0;
}
/* line 86, ../../../app/stylesheets/admin.sass */
.main-content li.widget {
  font-size: 11px;
  margin: 10px 10px;
  padding: 4px 0 8px 4px;
  cursor: move;
}
/* line 91, ../../../app/stylesheets/admin.sass */
.main-content li.widget:hover {
  cursor: move;
}

/* line 94, ../../../app/stylesheets/admin.sass */
ul.forums {
  margin: 0;
  border: 1px solid black;
  width: 500px;
}
/* line 100, ../../../app/stylesheets/admin.sass */
ul.forums li {
  list-style: none;
  font-size: 11px;
  margin: 10px 10px;
  padding: 4px 0 8px 4px;
  cursor: move;
  background-color: #aeaeae;
}
/* line 107, ../../../app/stylesheets/admin.sass */
ul.forums li:hover {
  cursor: move;
}

/* line 111, ../../../app/stylesheets/admin.sass */
#widget-tabs-destination li, #widget-tabs li {
  list-style: none;
}
/* line 114, ../../../app/stylesheets/admin.sass */
#widget-tabs-destination h1, #widget-tabs-destination h2, #widget-tabs-destination h3, #widget-tabs-destination h4, #widget-tabs-destination h5, #widget-tabs h1, #widget-tabs h2, #widget-tabs h3, #widget-tabs h4, #widget-tabs h5 {
  margin: 10px;
}

/* FEATURED WIDGETS STYLES */
/* line 122, ../../../app/stylesheets/admin.sass */
.template-column {
  width: 306px;
  float: left;
  margin-right: 40px;
}

/* line 127, ../../../app/stylesheets/admin.sass */
.template-builder-column {
  width: 400px;
  float: left;
  margin-right: 25px;
  padding: 10px;
}
/* line 132, ../../../app/stylesheets/admin.sass */
.template-builder-column img {
  max-width: 400px;
}

/* line 135, ../../../app/stylesheets/admin.sass */
.template-item-selector-column {
  width: 466px;
  margin-left: 25px;
  float: left;
  padding: 10px;
}

/* line 141, ../../../app/stylesheets/admin.sass */
.template-builder {
  display: inline-block;
  width: 378px;
  border: 1px solid #cccccc;
  background: #f0f0f0;
  padding: 10px 10px 0;
}
/* line 147, ../../../app/stylesheets/admin.sass */
.template-builder h1 {
  font-size: 14px;
  margin: 0;
}

/* line 152, ../../../app/stylesheets/admin.sass */
.featured-item-templates {
  width: 100%;
  display: inline-block;
}

/* line 156, ../../../app/stylesheets/admin.sass */
.clear {
  clear: both;
}

/* line 159, ../../../app/stylesheets/admin.sass */
.template {
  border: 1px solid #cccccc;
  padding: 2px;
  width: auto;
  margin: 0 0 25px;
  float: left;
  display: inline-block;
}
/* line 166, ../../../app/stylesheets/admin.sass */
.template:hover {
  background: #cccccc;
}
/* line 168, ../../../app/stylesheets/admin.sass */
.template img {
  width: 300px;
}

/* line 173, ../../../app/stylesheets/admin.sass */
#template_2.template-builder {
  height: 250px;
}

/* line 176, ../../../app/stylesheets/admin.sass */
.primary-drop {
  border: 2px solid #cccccc;
  background-color: #dddddd;
  color: #666666;
  text-align: center;
  width: 100px;
  height: 75px;
  float: left;
  margin: 0 10px 10px 0;
}
/* line 186, ../../../app/stylesheets/admin.sass */
.primary-drop p {
  font-size: 11px;
  text-align: center;
  margin: 10px 4px 0;
  font-weight: bold;
}
/* line 193, ../../../app/stylesheets/admin.sass */
.primary-drop h1 h2 h3 h4 h5 {
  float: left;
}
/* line 195, ../../../app/stylesheets/admin.sass */
.primary-drop img {
  width: 100px;
  height: 75px;
}

/* line 199, ../../../app/stylesheets/admin.sass */
.secondary-drop {
  border: 2px solid #aaaaaa;
  background-color: #dddddd;
  color: #666666;
  text-align: center;
  min-width: 80px;
  min-height: 80px;
  float: left;
  margin: 10px 10px 0 0;
}
/* line 209, ../../../app/stylesheets/admin.sass */
.secondary-drop h1 h2 h3 h4 h5 {
  float: left;
}
/* line 211, ../../../app/stylesheets/admin.sass */
.secondary-drop img {
  width: 170px;
  height: 120px;
}

/* line 215, ../../../app/stylesheets/admin.sass */
.drop-error {
  border: 2px solid red;
}

/* line 219, ../../../app/stylesheets/admin.sass */
#items .pagination {
  font-size: 11px;
}

/* line 222, ../../../app/stylesheets/admin.sass */
.items-list {
  width: 100%;
  display: inline-block;
}
/* line 225, ../../../app/stylesheets/admin.sass */
.items-list li {
  float: left;
  width: 100px;
  height: 175px;
  padding: 2px;
  margin: 5px;
  text-align: center;
  overflow: hidden;
}
/* line 234, ../../../app/stylesheets/admin.sass */
.items-list li h5 {
  cursor: move;
}
/* line 237, ../../../app/stylesheets/admin.sass */
.items-list li a.ui-icon-zoomin {
  float: left;
}
/* line 240, ../../../app/stylesheets/admin.sass */
.items-list li img {
  width: 100%;
  max-height: 100px;
  cursor: move;
}

/* line 245, ../../../app/stylesheets/admin.sass */
.drop-zone {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
}
