/* line 3, ../../../app/stylesheets/flowplayer_tabs.sass */
form.formtastic #flowplayer-block ul.tabs li {
  width: auto;
}

/* line 6, ../../../app/stylesheets/flowplayer_tabs.sass */
#flowplayer-block {
  /* root element for tabs  */
  /* single tab */
  /* link inside the tab. uses a background image */
  /* selected tab */
}
/* line 8, ../../../app/stylesheets/flowplayer_tabs.sass */
#flowplayer-block ul.tabs {
  margin: 10px 0 20px 0 !important;
  padding: 20px 0 0 10px;
  height: 30px;
  border-bottom: 1px solid #666666;
}
/* line 15, ../../../app/stylesheets/flowplayer_tabs.sass */
#flowplayer-block ul.tabs li {
  float: left;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
/* line 22, ../../../app/stylesheets/flowplayer_tabs.sass */
#flowplayer-block ul.tabs a {
  float: left;
  font-size: 12px;
  font-weight: bold;
  display: block;
  padding: 8px 15px 2px;
  text-decoration: none;
  border: 1px solid #555555;
  border-bottom: 0px;
  height: 18px;
  background-color: #dddddd;
  color: black;
  margin: 0 2px 0 0;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  position: relative;
  top: 1px;
}
/* line 42, ../../../app/stylesheets/flowplayer_tabs.sass */
#flowplayer-block ul.tabs a:hover {
  background: #cecece;
  color: black;
}
/* line 47, ../../../app/stylesheets/flowplayer_tabs.sass */
#flowplayer-block ul.tabs a.current {
  background: #efefef;
  border-bottom: 1px solid #efefef;
  color: #666666;
  cursor: default;
}

/* line 54, ../../../app/stylesheets/flowplayer_tabs.sass */
#flowplayer-block {
  /* root element for arrows  */
  /* single tab */
  /* link inside the arrow. uses a background image */
  /* selected arrow */
  /* tab pane */
  /* next and previous btn styles */
}
/* line 57, ../../../app/stylesheets/flowplayer_tabs.sass */
#flowplayer-block ul.arrows {
  display: inline-block;
  width: 100%;
  margin: 20px 0 !important;
  padding: 0 0 0 20px;
}
/* line 64, ../../../app/stylesheets/flowplayer_tabs.sass */
#flowplayer-block ul.arrows li {
  float: left;
  padding: 0;
  margin: 0 4px 0 0;
  list-style-type: none;
}
/* line 71, ../../../app/stylesheets/flowplayer_tabs.sass */
#flowplayer-block ul.arrows a {
  background: url('/images/default/form-tab.png?1320791095') right -3px no-repeat;
  float: left;
  line-height: 12px;
  font-size: 12px;
  font-weight: bold;
  display: block;
  height: 18px;
  min-width: 70px;
  padding: 6px 25px 2px 10px;
  text-decoration: none;
  color: white;
  border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  position: relative;
  top: 1px;
}
/* line 90, ../../../app/stylesheets/flowplayer_tabs.sass */
#flowplayer-block ul.arrows a:hover {
  background: url('/images/default/form-tab.png?1320791095') right -35px no-repeat;
  color: white;
}
/* line 95, ../../../app/stylesheets/flowplayer_tabs.sass */
#flowplayer-block ul.arrows a.current {
  background: url('/images/default/form-tab.png?1320791095') right -67px no-repeat;
  color: white;
  cursor: default;
}
/* line 106, ../../../app/stylesheets/flowplayer_tabs.sass */
#flowplayer-block .panes .tab_panel {
  display: none;
  background: #f0f0f0;
}
/* line 111, ../../../app/stylesheets/flowplayer_tabs.sass */
#flowplayer-block .prev {
  float: left;
}
/* line 114, ../../../app/stylesheets/flowplayer_tabs.sass */
#flowplayer-block .next {
  float: right;
}
