/* for facebook grid */
/* line 3, ../../../app/stylesheets/scrollable_fb.sass */
.feature_scrollable_panel_5 .half-panel, .feature_scrollable_panel_5 .third-panel, .feature_scrollable_panel_5 .third-panel-small, .feature_scrollable_panel_5 .quarter-panel, .feature_scrollable_panel_4 .half-panel, .feature_scrollable_panel_4 .third-panel, .feature_scrollable_panel_4 .third-panel-small, .feature_scrollable_panel_4 .quarter-panel, .feature_scrollable_panel_3 .half-panel, .feature_scrollable_panel_3 .third-panel, .feature_scrollable_panel_3 .third-panel-small, .feature_scrollable_panel_3 .quarter-panel, .feature_scrollable_panel_sidebar .half-panel, .feature_scrollable_panel_sidebar .third-panel, .feature_scrollable_panel_sidebar .third-panel-small, .feature_scrollable_panel_sidebar .quarter-panel, feature_scrollable_panel_mini .half-panel, feature_scrollable_panel_mini .third-panel, feature_scrollable_panel_mini .third-panel-small, feature_scrollable_panel_mini .quarter-panel, .newswire_scrollable_panel .half-panel, .newswire_scrollable_panel .third-panel, .newswire_scrollable_panel .third-panel-small, .newswire_scrollable_panel .quarter-panel, .feature_vertical_scrollable_items .half-panel, .feature_vertical_scrollable_items .third-panel, .feature_vertical_scrollable_items .third-panel-small, .feature_vertical_scrollable_items .quarter-panel {
  margin-bottom: 60px;
}

/* line 6, ../../../app/stylesheets/scrollable_fb.sass */
.feature_scrollable_panel_5 {
  /* required settings */
  position: relative;
  overflow: hidden;
  width: 496px;
  height: 182px;
}

/* line 13, ../../../app/stylesheets/scrollable_fb.sass */
.feature_scrollable_panel_4 {
  /* required settings */
  position: relative;
  overflow: hidden;
  width: 496px;
  height: 95px;
}
/* line 19, ../../../app/stylesheets/scrollable_fb.sass */
.feature_scrollable_panel_4 p {
  display: none;
}

/* line 22, ../../../app/stylesheets/scrollable_fb.sass */
.feature_scrollable_panel_3 {
  /* required settings */
  position: relative;
  overflow: hidden;
  width: 496px;
  height: 188px;
}

/* line 29, ../../../app/stylesheets/scrollable_fb.sass */
.feature_scrollable_panel_sidebar {
  /* required settings */
  position: relative;
  overflow: hidden;
  width: 248px;
  height: 289px;
}

/* line 36, ../../../app/stylesheets/scrollable_fb.sass */
.feature_scrollable_panel_mini {
  /* required settings */
  position: relative;
  overflow: hidden;
  width: 248px;
  height: 140px;
}

/* line 43, ../../../app/stylesheets/scrollable_fb.sass */
.newswire_scrollable_panel {
  /* required settings */
  position: relative;
  overflow: hidden;
  width: 248px;
  height: 400px;
}

/* line 50, ../../../app/stylesheets/scrollable_fb.sass */
.feature_scrollable_items {
  /* this cannot be too large */
  width: 20000em;
  position: absolute;
}
/* line 54, ../../../app/stylesheets/scrollable_fb.sass */
.feature_scrollable_items .panel_items {
  float: left;
  width: 496px;
}
/* line 57, ../../../app/stylesheets/scrollable_fb.sass */
.feature_scrollable_items .newswire_panel_items {
  float: left;
  width: 250px;
}

/* line 61, ../../../app/stylesheets/scrollable_fb.sass */
.feature_vertical_scrollable_items {
  /* this cannot be too large */
  height: 20000em;
  position: absolute;
}
/* line 65, ../../../app/stylesheets/scrollable_fb.sass */
.feature_vertical_scrollable_items .panel_items {
  float: left;
  width: 496px;
}
