# Instructions
# gem install mysql2psql
# Modify this file with your configuration
# Create the postgresql db (createdb n2_development)
# Run mysql2psql config/mysql2psql.yml

mysql:
 hostname: localhost
 port: 3306
 socket: /tmp/mysql.sock
 username: root
 password:
 database: ntwo_development

destination:
 # if file is given, output goes to file, else postgres
 file:
 postgres:
  hostname: localhost
  port: 5432
  username: monkey
  password:
  database: n2_development



# if supress_data is true, only the schema definition will be exported/migrated, and not the data
supress_data: false

# if supress_ddl is true, only the data will be exported/imported, and not the schema
supress_ddl: false

# if force_truncate is true, forces a table truncate before table loading
force_truncate: false
